# Node
node_modules
npm-debug.log
pnpm-lock.yaml
yarn.lock

# OS
.DS_Store

# Env
.env
.env.local

# Build artifacts
dist
.next
out

# Editor
.vscode
client/node_modules
client/.next
client/out
client/.env
client/.env.local
